.color-nav{
    background-image: linear-gradient(to left, rgb(78, 52, 19), rgb(223, 197, 164));
    /* background-color: rgb(209, 198, 191) !important; */
    height: 55px;
}
#logo {
    color: rgb(51, 70, 9);
}
.nav-link{
    font-family: Papyrus ;
    font-weight: bold;
    color: #050505 !important;
    
  }
  .nav-link:hover{
    color: #fafafa !important;
    font-weight: bolder;
  }

