#navbarheading{
    color:white;
    align-self: center;
    padding-right: 200px;
    font-family: cursive;
    font-size: 30px;
}
.NavbarComp{
    background-color: rgb(218, 14, 58);
}
#logo {
    color: rgb(139, 92, 226);
}
