.App {
  text-align: center;
  /* background-color: rgb(241, 234, 127); */
  /* background-image: url("http://artic3d.weebly.com/uploads/6/9/3/7/69379487/render-arquitectura-artic-3d-vb1h_orig.jpg");
  
  /* Add the blur effect */
  /* filter: blur(5px);
  -webkit-filter: blur(5px); */
} 

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
